In [112]:
#Reading the data
import nltk
import re
import pandas as pd
import string

def read_data(file):
    with open(file, "r", encoding="utf-8") as f:
        data = f.read()
    return data

data = read_data('data.txt')
data = data.lower()
data = data.translate(str.maketrans('', '', string.punctuation))
lines = data.split('\n')
print(lines)

['machine learning ml is the study of computer algorithms that can improve automatically through experience and by the use of data', '1 it is seen as a part of artificial intelligence', 'machine learning algorithms build a model based on sample data known as training data in order to make predictions or', 'decisions without being explicitly programmed to do so2 machine learning algorithms are used in a wide variety of applications', 'such as in medicine email filtering speech recognition and computer vision', 'where it is difficult or unfeasible to develop conventional algorithms to perform the needed tasks3']

In [113]:
#Stop Words
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print("stop_words\n", stop_words)

stop_words
 ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [114]:
#Cleaning & Modeling the data with TF-IDFVectorizer
vectorizer = TfidfVectorizer(stop_words = 'english')
matrix  = vectorizer.fit_transform(lines)
print("Feature Names \n", vectorizer.get_feature_names_out())

Feature Names
 ['algorithms' 'applications' 'artificial' 'automatically' 'based' 'build'
 'computer' 'conventional' 'data' 'decisions' 'develop' 'difficult'
 'email' 'experience' 'explicitly' 'filtering' 'improve' 'intelligence'
 'known' 'learning' 'machine' 'make' 'medicine' 'ml' 'model' 'needed'
 'order' 'perform' 'predictions' 'programmed' 'recognition' 'sample'
 'seen' 'so2' 'speech' 'study' 'tasks3' 'training' 'unfeasible' 'use'
 'used' 'variety' 'vision' 'wide']

In [115]:
print("Size of the Matrix \n", matrix.shape)

Size of the Matrix
 (6, 44)

In [116]:
print(matrix.toarray())

[[0.20165127 0.         0.         0.33990419 0.         0.
  0.2787263  0.         0.2787263  0.         0.         0.
  0.         0.33990419 0.         0.         0.33990419 0.
  0.         0.23531989 0.23531989 0.         0.         0.33990419
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.33990419
  0.         0.         0.         0.33990419 0.         0.
  0.         0.        ]
 [0.         0.         0.57735027 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.57735027
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.57735027 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.        ]
 [0.16453894 0.         0.         0.         0.2773475  0.2773475
  0.         0.         0.45485784 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.2773475  0.19201112 0.19201112 0.2773475  0.         0.
  0.2773475  0.         0.2773475  0.         0.2773475  0.
  0.         0.2773475  0.         0.         0.         0.
  0.         0.2773475  0.         0.         0.         0.
  0.         0.        ]
 [0.1944271  0.32772709 0.         0.         0.         0.
  0.         0.         0.         0.32772709 0.         0.
  0.         0.         0.32772709 0.         0.         0.
  0.         0.22688954 0.22688954 0.         0.         0.
  0.         0.         0.         0.         0.         0.32772709
  0.         0.         0.         0.32772709 0.         0.
  0.         0.         0.         0.         0.32772709 0.32772709
  0.         0.32772709]
 [0.         0.         0.         0.         0.         0.
  0.31745314 0.         0.         0.         0.         0.
  0.38713122 0.         0.         0.38713122 0.         0.
  0.         0.         0.         0.         0.38713122 0.
  0.         0.         0.         0.         0.         0.
  0.38713122 0.         0.         0.         0.38713122 0.
  0.         0.         0.         0.         0.         0.
  0.38713122 0.        ]
 [0.21879782 0.         0.         0.         0.         0.
  0.         0.36880648 0.         0.         0.36880648 0.36880648
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.36880648 0.         0.36880648 0.         0.
  0.         0.         0.         0.         0.         0.
  0.36880648 0.         0.36880648 0.         0.         0.
  0.         0.        ]]

In [117]:
import pandas as pd

pd.DataFrame(matrix.toarray())

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,0.201651,0.000000,0.00000,0.339904,0.000000,0.000000,0.278726,0.000000,0.278726,0.000000,...,0.000000,0.339904,0.000000,0.000000,0.000000,0.339904,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.57735,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.164539,0.000000,0.00000,0.000000,0.277348,0.277348,0.000000,0.000000,0.454858,0.000000,...,0.000000,0.000000,0.000000,0.277348,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.194427,0.327727,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.327727,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.327727,0.327727,0.000000,0.327727
4,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.317453,0.000000,0.000000,0.000000,...,0.387131,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.387131,0.000000
5,0.218798,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.368806,0.000000,0.000000,...,0.000000,0.000000,0.368806,0.000000,0.368806,0.000000,0.000000,0.000000,0.000000,0.000000